<html>

<head>
	<title>Node.js Bacon Ipsum Generator!</title>
	<link rel="stylesheet" href="/assets/site.css">
</head>

<body class="px-16 bg-sky-300">
	<div class="w-full flex flex-col h-screen py-4 items-center">
		<img al="Makin' Bacon: The Node.js Bacon Ipsum Generator" src="/assets/makin-bacon.png">
		<div id="app" class="container mx-auto bg-white mt-8 p-4 grow"></div>
		<footer class="w-full flex flex-col py-4 items-center">
			<a href="https://reverentgeek.com"><img alt="ReverentGeek" src="/assets/reverentgeek-logo-140.png"></a>
			<div class="text-sm">
				Brought to you by <a href="https://reverentgeek.com">ReverentGeek</a>
			</div>
		</footer>
	</div>
	<script type="module" src="/client.js"></script>
</body>

</html>