@import url(./fonts.css);

@import "tailwindcss";

@source "../../public/**/*.js";
@source "../views/*.html";

@theme {
	--font-sans: "montserrat", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
